* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}
html,
body {
    scroll-behavior: smooth;
}
/* common */

input,
select,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 3rem;
    background: #2e80ce;
    color: #fff;
    height: var(--height);
    line-height: var(--height);
    min-width: 205px;
    text-align: center;
    outline: none;
    border: 1px solid #2e80ce;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 1.8rem;
}
.btn.section-btn {
    margin-top: 38px;
}
/* main */
main > section {
    margin: 110px 0;
    padding: 30px 0;
}

/* wrapper using in work and appointment */
.wrapper {
    padding: 70px 0;
}

/* pagination */

.pagination {
    display: flex;
    gap: 18px;
}
.pagination__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.6rem;
    border: 1px solid #575f66;
    color: #575f66;
    width: 36px;
    height: 36px;
    background: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
}

.pagination__btn:hover {
    border-color: #2e80ce;
    background: #2e80ce;
    color: #fff;
}

.pagination__btn-icon-next {
    rotate: 180deg;
}
/* Header */
.header {
    background: var(--header-bg);
    padding-top: 30px;
    padding-bottom: 12px;
}
.header.fixed {
    position: sticky;
    top: -18px;
    z-index: 1;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    /*line-height: 1.4em; 77.778%*/
    font-family: 'Sora', sans-serif;
}

.logo__brand {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 0.6rem 2.1rem;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2.5px;
    left: -6px;
    content: '';
    background: #fff;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__sign-up {
    --height: 4.4rem;
    min-width: 10.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 2.2rem;
}

/* Hero */
.hero {
    margin: 0;
    padding-top: 64px;
    padding-bottom: 110px;
    background: var(--header-bg);
}
.hero__inner {
    display: flex;
    align-items: center;
}
.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.14rem;
}

.hero__desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 2.2rem;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 3.8rem;
}

.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-left: 3.8rem;
}

.hero__media {
    flex: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    background: #fff;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 46.8rem;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 1.2rem;
    display: block;
}

.service__list {
    margin-bottom: 55px;
}
/* service item */
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    background: #fff;
    border-radius: 1rem;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #eff6fd;
    color: #10375c;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    border-radius: 3rem;
    background: #2e80ce;
    box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 8px;
}

/* work */
.work {
    background: #f6fbff;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    padding: 4.3rem 4.2rem;
    border-radius: 0.4rem;
    background: #fff;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.work-item__heading {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38462;
    margin-top: 18px;
}

.work-item__desc,
.work-item__more {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 28px;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
}

/* feature */
.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48.7%;
}

.feature__images {
    position: relative;
    display: flex;
    padding-bottom: 121px;
    padding-right: 58px;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 0.6rem;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
    flex-shrink: 0;
    object-fit: cover;
}

.feature__img:nth-child(2) {
    width: 332px;
    height: 370px;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: none;
}

.feature__content {
    flex: 1;
}

/* member */
.member,
.member__header {
    text-align: center;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    border-radius: 0.6rem;
    background: #eaf6ff;
    padding-top: 28px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.member-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85714;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.member__pagination {
    align-items: center;
    justify-content: center;
    margin-top: 38px;
}

/* Install */
.install {
    padding-top: 125px;
}

.install__inner {
    border-radius: 0.4rem;
    background: #2e80ce;
    display: flex;
    column-gap: 160px;
    align-items: center;
    padding: 0 70px;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 48.9rem;
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* News */
.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    width: 40%;
}

.news__heading {
    color: #10375c;
}

.news__link {
    display: inline-block;
    margin: 28px 0;
    color: #10375c;
    font-family: var(--font-inter);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55556;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.news__pagination {
    justify-content: flex-start;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 1.2rem;
    background: #fff;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    border-color: #fff;
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item:hover .news-item__more {
    color: #2e80ce;
}

.news-item__img {
    width: 100%;
    height: 17.2rem;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
}

.news-item__body {
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    border: 1px solid #e8ebee;
    border-top: none;
    padding: 18px 22px 22px;
    background: #fff;
    transition: 0.25s;
}

.news-item__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.625;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71429;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-item__more {
    display: inline-block;
    color: #10375c;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 12px;
    transition: 0.25s;
}

/* Appointment */

.appointment__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #f6fbff;
    padding-left: 70px;
    padding-right: 70px;
}

.appointment__heading {
    position: relative;
    color: #10375c;
    padding-bottom: 20px;
}

.appointment__heading::after {
    content: '';
    display: block;
    background: #2e80ce;
    width: 13.6rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.appointment__desc {
    margin: 18px auto 0;
    max-width: 61.7rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.appointment__btn {
    margin-top: 38px;
}

/* Footer */
.footer {
    background: #10375c;
    font-family: var(--font-open-sans);
    padding-top: 100px;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 22px;
    color: #a9b3bb;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer__heading {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 20px;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    white-space: nowrap;
    transition: 0.25s;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 10px;
}

.footer__social-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #2e80ce;
    transition: 0.25s;
}

.footer__social-btn:hover {
    background: #2e80ce;
    color: #fff;
}

.footer__desc-sub {
    color: #a9b3bb;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer-form {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.footer-form__input {
    width: 21.2rem;
    height: 4.6rem;
    border-radius: 0.4rem;
    border: 1px solid #406181;
    outline: none;
    padding: 0 10px;
    background: transparent;
    color: #fff;
}

.footer-form__input::placeholder {
    color: #9ca8b1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer-form__btn {
    --height: 46px;
    min-width: 108px;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.86;
}

.footer__copyright {
    border-top: 1px solid #406181;
    padding: 28px 0 42px;
}

.footer__copyright-text {
    text-align: center;
    color: #aab3ba;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
